[alias]
  pr = pull --rebase
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  pu = push
  pushf = push --force-with-lease
  f = fetch
  p = !git pull --rebase && git submodule update --recursive --init
  su = submodule update --recursive
  co = checkout
  rwm = !sh -c 'git fetch && git rebase origin/master'
  cfu = !sh -c 'git commit -m 'fix' --fixup HEAD && GIT_SEQUENCE_EDITOR=true git rebase -i HEAD~2 --autosquash'
  m = !sh -c 'git checkout master && git pull --rebase'

[core]
  excludesfile = ~/.gitexclude
  pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
  editor = nvim

[pull]
  rebase = true
  recurseSubmodules = on-demand

[push]
  default = current
  recurseSubmodules = on-demand

[include]
  path = ~/.gitconfig-local

[color]
  ui = auto

[diff]
  mnemonicprefix = true

[branch]
  autosetupmerge = true
