# Zsh
/zsh/.zsh/local.zsh
/zsh/.zinit/*
!/zsh/.zinit/bin

# Vim
/vim/.vim/undo-dir/
/vim/.vim/plugged/
/vim/.vim/tmp/
/vim/.vim/.netrwhist

# Git
/git/.gitconfig-local

# iTerm
iterm/Library/Application Support/iTerm2/parsers/
iterm/Library/Application Support/iTerm2/version.txt
