[submodule ".omz"]
	path = .omz
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/plugins/async"]
	path = .zsh/plugins/async
	url = https://github.com/mafredri/zsh-async.git
