/.zsh/zplug
/.zsh/local.zsh
/.zsh/dns.d/*
/.zsh/hosts/*
/.zsh/999.local.zsh
!/.zsh/hosts/.gitkeep
/.config/mc/ini
/.config/asciinema/config
/.config/fish/functions/fish_prompt.fish
/.vim/bundle/*
!/.vim/bundle/Vundle.vim
/.vim/undo-dir/*
/.config/asciinema/install-id

