elpa
auto-save-list
ac-comphist.dat
semanticdb
.python-environments
company-statistics-cache.el
projectile-bookmarks.eld
snippets/*-mode/.yas-compiled-snippets.el
irony/bin/irony-server
SessionDesktop.el
ido.last
eshell/*
projectile.cache
helm-adaptive-history
